.carousel {
	padding: 3.5em 0;
}

.swiper {
	padding: 3em;
}

.swiper .slide-img {
	max-width: 46.88em;
	margin: 0 auto;
}

.swiper .swiper-slide img {
	width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
	display: none;
}

@media only screen and (min-width: 920px) {
	.swiper .swiper-button-prev,
	.swiper .swiper-button-next {
		display: block;
		top: 44%;
		outline: none;
	}

	.swiper .swiper-button-prev::after,
	.swiper .swiper-button-next::after {
		color: $main-color;
		font-size: 3.2em;
		font-weight: bold;
	}
}