<section class="advantages">
	<div class="container">
		<h2 class="title">OUR ADVANTAGES</h2>
		<div class="advantages__wrapper">
			<div class="advantages__card">
				<img src="img/advantages/cup.png" alt="cup" class="advantages__icon">
				<div class="advantages__subtitle">
					We share experience
				</div>
				<div class="advantages__descr">
					Our employees are always ready to share their experience, as they themselves run the half marathons, sailed the Bosphorus, prepare for triathlon competitions!
				</div>
			</div>

			<div class="advantages__card">
				<img src="img/advantages/heart.png" alt="heart" class="advantages__icon">
				<div class="advantages__subtitle">
					We care about health
				</div>
				<div class="advantages__descr">
					We work in order for your sports to benefit your health and be a joy to you and your loved ones!
				</div>
			</div>

			<div class="advantages__card">
				<img src="img/advantages/shoe.png" alt="shoe" class="advantages__icon">
				<div class="advantages__subtitle">
					Learning to run
				</div>
				<div class="advantages__descr">
					We help with training the right running technique!We are friends with the largest running school - <br>
					<a href="#">I LOVE RUNNING.</a>
				</div>
			</div>
		</div>
	</div>
</section>