<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Sergey, Pulse, pulsometer, Selection of pulsometer, First mobile, Responsive Design, HTML, CSS, JavaScript, jQuery, SCSS, Git, GitHub, Gulp, Figma, source code">
	<meta name="description" content="The online store for the sale of pulsometers, the selection of pulsometer taking into account your level of training, selection time - 10 minutes, free delivery, free consultations, take care of health, learn to run, share experience.">
	<meta name="author" content="Sergey">
	<title>@@title</title>
	<link rel="stylesheet" href="css/font.css">
	<link rel="stylesheet" href="css/style.min.css">
</head>