<section class="hero">
	<div class="container">
		<div class="hero__wrapper">
			<h1 class="hero__header">selection of pulsometer</h1>
			<p class="hero__subheader">taking into account your level of training</p>

			<div class="hero__cards">
				<div class="hero__card">
					<img src="img/hero_screen/timer.png" alt="timer">
					Selection time: <br> 10 minutes
				</div>

				<div class="hero__card">
					<img src="img/hero_screen/hand-cart.png" alt="hand-cart">
					Free shipping
				</div>

				<div class="hero__card">
					<img src="img/hero_screen/messages.png" alt="messages">
					We will answer all questions
				</div>
			</div>

			<button class="button button_hero">Order a consultation</button>

			<div class="hero__link">
				or
				<a href="#">Go to the catalog</a>
			</div>
		</div>
	</div>
</section>